apipkg==1.4
autopep8==1.2.1
click==5.1
docutils==0.12
execnet==1.4.1
first==2.0.1
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pep8==1.6.2
pip-tools==1.1.6
py==1.4.30
pytest==2.8.2
pytest-cache==1.0
pytest-pep8==1.0.6
six==1.10.0
Werkzeug==0.10.4
wheel==0.26.0
